.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    position: absolute;
    right: 0;
    left: 0;
    background: linear-gradient(to right, black, 70%, transparent);
}

.logo img {
    width: 130px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    margin-left: 32px;
}

.nav_link:hover {
    color: #ed421c;
    transition: color .1s linear;
}

.links {
    margin-left: 10px;
}

.links>a {
    font-size: smaller;
    color: white;
}

.call-me {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    left: 25px;
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #ed421c;
    box-shadow: 0 4px 10px 0 rgba(46, 58, 70, 0.35);
    z-index: 1;
}

.call-me img {
    width: 50%;
    height: 50%;
}

.call-me img:hover {
    opacity: 0.6;
    transition: .1s linear;
}