.main-home {
    background-image: url(../../images/backgrounds/bg01.jpg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: left bottom;
}

.home-block {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.home-block>h2 {
    color: #ffffff;
    font-weight: 500;
    font-size: 63px;
    font-style: normal;
    font-family: 'Bebas Neue', cursive;
}

.home-block>h1 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 130px;
    font-style: normal;
}

.color1 {
    color: #ed421c;
    font-family: 'Bebas Neue', cursive;
}

.home-block>h4 {
    color: white;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.button {
    display: inline-block;
    vertical-align: top;
    border: 2px solid #ed421c;
    padding: 15px 50px;
    color: #ffffff;
    background-color: #ed421c;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.button:hover {
    opacity: 0.8;
    transition: .2s linear;
}

.section {
    padding: 80px 0;
}

.section_header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    margin-top: 30px;
    text-align: left;
}

.section_suptitle {
    font-size: 45px;
    color: #ed421c;
    font-family: 'Bebas Neue', cursive;
}

.section_title {
    font-size: 60px;
    color: black;
    font-family: 'Bebas Neue', cursive;
}

.section_title1 {
    font-size: 60px;
    color: black;
    font-family: 'Bebas Neue', cursive;
}

.image {
    background-image: url(https://template79399.motopreview.com/mt-demo/79300/79399/mt-content/uploads/2019/03/mt-1791-title-img.png);
    background-repeat: no-repeat;
    margin: 5px auto;
}

.section_text {
    color: #434f53;
    text-align: left;
    font-size: 17px;
    width: 90%;
}

.section_text p:first-child {
    margin: 30px 0;
}

.section-about {
    display: flex;
    background-image: url(../../images/backgrounds/bg02.png);
    padding-left: 20%;
}

.section-block {
    width: 45%;
}

.section-block:last-child {
    display: flex;
}

.section-block img {
    width: 60%;
}

.section-block img:first-child {
    margin-bottom: 20px;
    margin-right: 20px;
}

.section-block img:last-child {
    margin-top: 20px;
}

.shrimp {
    background-image: url(../../images/backgrounds/bg03.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
}

.description {
    background-color: black;
    width: 600px;
    height: 280px;
    border: 3px white solid;
    color: white;
    position: absolute;
    top: 20%;
    right: 10%;
    padding: 40px;
    opacity: 0.7;
}

.description>h3 {
    font-size: 58px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
}

.btn {
    display: inline-block;
    vertical-align: top;
    border: 2px solid #ed421c;
    padding: 15px 50px;
    color: #ffffff;
    background-color: #ed421c;
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}