.menu-choise {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 190px;
}

.menu-choise>h3:hover {
    color: #ed421c;
}

.menu-choise>h3 {
    width: calc(100% / 4 - 2%);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: black;
    font-size: 18px;
}

.menu-details {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.menu-content>p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu-content {
    /* width: calc(100% / 2 - 2%); */
    width: 45%;
}

.menu-content {
    display: flex;
    margin-top: 20px;
}

.menu-content img {
    width: 40%;
    margin: 20px;
}

.menu-content>.test {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    margin: 27px;
}

.test>h3 {
    font-weight: 500;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    color: #010101;
    font-size: 16px;
}

.test>h2 {
    font-weight: 400;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    color: #010101;
    font-size: 16px;
}

.test>p {
    font-weight: 500;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    color: #ed421c;
    font-size: 18px;
}

.reviews {
    background-image: url(../../images/backgrounds/bg08.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews-details {
    background-color: black;
    width: 490px;
    height: 170px;
    color: white;
    position: absolute;
    top: 20%;
    right: 10%;
    background: rgba(0, 0, 0, .6);
    border: 2px white solid;
    text-align: center;
    padding: 80px;
}

.reviews-details>h3 {
    font-size: 20px;
    color: #ffffff;
    line-height: 1.4;
    font-weight: 400;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
}

.review-options {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.option-item {
    width: calc(100%/3 -2%);
    border-top: 2px white solid;
    padding: 10px;
    margin: 50px;
}